<div>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      [(ngModel)]="movie.title"
      type="text"
      class="form-control"
      id="title"
      placeholder="Enter title"
    />
  </div>

  <div class="form-group">
    <label for="description">description</label>
    <input
      [(ngModel)]="movie.description"
      type="text"
      class="form-control"
      id="description"
      placeholder="Enter description"
    />
  </div>

  <div class="form-group">
    <label for="genre">genre</label>
    <input
      [(ngModel)]="movie.genre"
      type="text"
      class="form-control"
      id="genre"
      placeholder="Enter genre"
    />
  </div>

  <div class="form-group">
    <label for="year">year</label>
    <input
      [(ngModel)]="movie.year"
      type="text"
      class="form-control"
      id="year"
      placeholder="Enter year"
    />
  </div>

  <div class="form-group">
    <label for="duration">duration</label>
    <input
      [(ngModel)]="movie.duration"
      type="text"
      class="form-control"
      id="duration"
      placeholder="Enter duration"
    />
  </div>

  <!-- <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Password"
    />
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div> -->
  <button (click)="saveMovie()" class="btn btn-primary">
    Submit
  </button>
</div>
